In [573]:
from twython import Twython, TwythonRateLimitError, TwythonError
from textblob import TextBlob
from glob import glob
from csv import DictReader, DictWriter
from sklearn import model_selection, preprocessing, linear_model, naive_bayes, metrics, svm
import pandas as pd
import os, re, string
import numpy as np
import emoji
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import SGDClassifier
import xml.etree.ElementTree as ET
import nltk
from nltk.classify import NaiveBayesClassifier, MaxentClassifier
from nltk.tag.sequential import ClassifierBasedPOSTagger

In [2]:
ConsumerKey = 'Xap2Jytwc3ehirzhWhPtIg' 
ConsumerSecret = 'M19t2uyoXSDnNxH01c4EAWvoAScpSyUlBHiGQx4U'
AccessToken = '166071132-r247QGhTdb9a1SdtH36avAndjAjwJksdJZLLqDYt'
AccessSecret = 'y7CGzzZzwyO72sx7yNedrS3hNXTAPWk5uqjDVdczykaKc'

twitter_user = 'HassanNisar'
tw = Twython(ConsumerKey, ConsumerSecret, AccessToken, AccessSecret)

In [154]:
def timeline(user_id, max_id=None):    
    for i in range(30):
        tweets = tw.get_user_timeline(screen_name=user_id,
                                      max_id=max_id,
                                      count=200,
                                      trim_user=True,
                                      exclude_replies=True,
                                      include_rts=False,
                                      tweet_mode='extended')
        if len(tweets) > 0:  # last page should have zero results
            for tweet in tweets:
                max_id = tweet['id'] - 1
                yield tweet
        else:
            break

In [222]:
# https://gist.github.com/emallson/9e56a99973b3091124cd
# I have a directory of csv files containing user profiles. 
# Pull the IDs from these.
fields = ['id', 'user', 'created_at', 'lang', 'full_text']
users_list = open("user.txt", "r")
for name in users_list:
    path = "timelines/{}.csv".format(name.rstrip())
    if os.path.exists(path):
        continue # skip users that have already been read.
    with open(path, "w", encoding='utf-8', newline='') as timecsv:
        print(name)
        writer = DictWriter(timecsv, fields)
        writer.writeheader()
        # max_id is used to continue a user's timeline from 
        # the last tweet read in the event that we get 
        # rate-limited in the middle of a user's timeline
        max_id = None
        while True:
            try:
                for tweet in timeline(name, max_id):
                    temp=tweet
                    sub = {k: v for k, v in tweet.items()
                           if k in fields}
                    sub['user'] = name.rstrip()
                    sub['full_text'] = sub['full_text'].rstrip()
                    max_id = sub['id']
                    if (sub['lang'] == 'ur'):
                        writer.writerow(sub)
                max_id = None
                break
            except TwythonRateLimitError as e:
                sleep_until(e.retry_after) # sleep until the given date
            except TwythonError as e:
                # I *think* this is caused by protected profiles. 
                # I can read some user profile info, but not the timeline
                print(e)
                print("Skipping...")

omar_journalist
('Connection aborted.', OSError("(10060, 'WSAETIMEDOUT')",))
Skipping...

In [532]:
with open('stopwords.txt','r',encoding="utf8") as f:
    stopwords = f.readlines()
f.close()
stopwords = list(map(lambda s: s.strip(), stopwords))

In [627]:
df = pd.concat([pd.read_csv(f, encoding='utf-8') for f in glob('timelines/*.csv')], ignore_index=True)

In [628]:
df = df.replace(r'\n', '', regex = True)

In [629]:
df['text'] = df['full_text'].apply(lambda x: re.sub(r'https?://[A-Za-z0-9./]+','',x))

In [630]:
df['text'] = df['text'].apply(lambda x: re.sub(r'[a-z]','',x,flags=re.I))

In [631]:
df['text'] = df['text'].apply(lambda x: x.translate(str.maketrans('','',string.digits)))

In [632]:
df['text'] = df['text'].apply(lambda x: re.sub(r'[۔_:."-)(@#،,?!٪\'“”؟/]+\ *','',x))

In [633]:
def give_emoji_free_text(text):
    allchars = [strs for strs in text]
    emoji_list = [c for c in allchars if c in emoji.UNICODE_EMOJI]
    clean_text = ' '.join([str for str in text.split() if not any(i in str for i in emoji_list)])
    return clean_text

df['text'] = df['text'].apply(lambda x: give_emoji_free_text(x))

In [634]:
def removeStopwords(x):
    s_list = [word for word in x.split() if word not in stopwords]
    str_ = ' '.join(s_list)
    return str_

df['text'] = df['text'].apply(lambda x: removeStopwords(x))

In [635]:
df['text'][100]

'آنے والا سال بھی گھر داماد جیسا ہوتا ہےشروع شروع میں بہت آؤ بھگت اس بعد جانوروں والا سلوک'

In [636]:
df['full_text'][100]

'ہر آنے والا سال بھی گھر داماد جیسا ہوتا ہے۔شروع شروع میں بہت آؤ بھگت ہوتی ہے پھر اس کے بعد جانوروں والا سلوک ۔۔۔ !  #HappyNewYear'

In [637]:
texts = df['text']
labels = df['user']

In [638]:
# split the dataset into training and validation datasets 
train_corpus, test_corpus, train_labels, test_labels = model_selection.train_test_split(texts, labels, train_size=0.75)

In [639]:
# label encode the target variable 
encoder = preprocessing.LabelEncoder()
train_y = encoder.fit_transform(train_labels)
test_y = encoder.fit_transform(test_labels)

In [640]:
def bow_extractor(corpus, ngram_range=(1,1)):
    vectorizer = CountVectorizer(min_df=1, ngram_range=ngram_range)
    features = vectorizer.fit_transform(corpus)
    return vectorizer, features

In [641]:
def tfidf_extractor(corpus, ngram_range=(1,1)):
    vectorizer = TfidfVectorizer(min_df=1, 
                                 norm='l2',
                                 smooth_idf=True,
                                 use_idf=True,
                                 ngram_range=ngram_range)
    features = vectorizer.fit_transform(corpus)
    return vectorizer, features

In [642]:
# bag of words features
bow_vectorizer, bow_train_features = bow_extractor(train_corpus)  
bow_test_features = bow_vectorizer.transform(test_corpus)

In [643]:
# tfidf features
tfidf_vectorizer, tfidf_train_features = tfidf_extractor(train_corpus)  
tfidf_test_features = tfidf_vectorizer.transform(test_corpus)

In [644]:
bow_train_features.shape

(8961, 28021)

In [645]:
tfidf_train_features.shape

(8961, 28021)

In [646]:
def get_metrics(true_labels, predicted_labels):
    print('Accuracy:', np.round(metrics.accuracy_score(true_labels, predicted_labels), 2))
    print('Precision:', np.round(metrics.precision_score(true_labels, predicted_labels, average='weighted'), 2))
    print('Recall:', np.round(metrics.recall_score(true_labels, predicted_labels, average='weighted'), 2))
    print('F1 Score:', np.round(metrics.f1_score(true_labels, predicted_labels, average='weighted'), 2))

In [647]:
def train_predict_evaluate_model(classifier,train_features, train_labels,test_features, test_labels):
    # build model    
    classifier.fit(train_features, train_labels)
    # predict using model
    predictions = classifier.predict(test_features) 
    # evaluate model prediction performance   
    get_metrics(true_labels=test_labels, predicted_labels=predictions)
    return predictions

In [648]:
def confusionMatrix(test_labels, pred_labels):
    labels = np.unique(test_labels)
    cm =  metrics.confusion_matrix(test_labels, pred_labels, labels=labels)
    return pd.DataFrame(cm, index=labels, columns=labels)

In [649]:
mnb = MultinomialNB()
svm = SGDClassifier(loss='hinge', n_iter=100)

In [650]:
# Multinomial Naive Bayes with bag of words features
mnb_bow_predictions = train_predict_evaluate_model(classifier=mnb,
                                           train_features=bow_train_features,
                                           train_labels=train_labels,
                                           test_features=bow_test_features,
                                           test_labels=test_labels)

Accuracy: 0.81
Precision: 0.82
Recall: 0.81
F1 Score: 0.8

In [651]:
cm = confusionMatrix(test_labels, mnb_bow_predictions)
cm

,AftabIqbal_,HassanNisar,KhSaad_Rafique,mujibshami1,omar_journalist
AftabIqbal_,129,64,25,85,37
HassanNisar,0,769,2,6,5
KhSaad_Rafique,10,43,332,51,14
mujibshami1,15,44,4,542,27
omar_journalist,8,63,7,46,659

In [652]:
# Support Vector Machine with bag of words features
svm_bow_predictions = train_predict_evaluate_model(classifier=svm,
                                           train_features=bow_train_features,
                                           train_labels=train_labels,
                                           test_features=bow_test_features,
                                           test_labels=test_labels)

C:\Users\Nabeel\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:152: DeprecationWarning: n_iter parameter is deprecated in 0.19 and will be removed in 0.21. Use max_iter and tol instead.
  DeprecationWarning)

Accuracy: 0.81
Precision: 0.8
Recall: 0.81
F1 Score: 0.8

In [653]:
cm = confusionMatrix(test_labels, svm_bow_predictions)
cm

,AftabIqbal_,HassanNisar,KhSaad_Rafique,mujibshami1,omar_journalist
AftabIqbal_,169,28,34,52,57
HassanNisar,13,706,15,15,33
KhSaad_Rafique,30,6,334,39,41
mujibshami1,40,19,33,467,73
omar_journalist,13,8,15,16,731

In [654]:
# Multinomial Naive Bayes with tfidf features                                           
mnb_tfidf_predictions = train_predict_evaluate_model(classifier=mnb,
                                           train_features=tfidf_train_features,
                                           train_labels=train_labels,
                                           test_features=tfidf_test_features,
                                           test_labels=test_labels)

Accuracy: 0.72
Precision: 0.77
Recall: 0.72
F1 Score: 0.68

In [655]:
cm = confusionMatrix(test_labels, mnb_tfidf_predictions)
cm

,AftabIqbal_,HassanNisar,KhSaad_Rafique,mujibshami1,omar_journalist
AftabIqbal_,6,175,2,80,77
HassanNisar,0,772,0,3,7
KhSaad_Rafique,0,107,247,45,51
mujibshami1,0,119,0,452,61
omar_journalist,1,75,2,18,687

In [656]:
# Support Vector Machine with tfidf features
svm_tfidf_predictions = train_predict_evaluate_model(classifier=svm,
                                           train_features=tfidf_train_features,
                                           train_labels=train_labels,
                                           test_features=tfidf_test_features,
                                           test_labels=test_labels)

C:\Users\Nabeel\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:152: DeprecationWarning: n_iter parameter is deprecated in 0.19 and will be removed in 0.21. Use max_iter and tol instead.
  DeprecationWarning)

Accuracy: 0.85
Precision: 0.84
Recall: 0.85
F1 Score: 0.84

In [657]:
cm = confusionMatrix(test_labels,svm_tfidf_predictions)
cm

,AftabIqbal_,HassanNisar,KhSaad_Rafique,mujibshami1,omar_journalist
AftabIqbal_,184,39,29,61,27
HassanNisar,4,747,7,10,14
KhSaad_Rafique,26,11,347,46,20
mujibshami1,21,28,11,548,24
omar_journalist,17,19,14,33,700

In [278]:
df.groupby('user').describe()

                     id                                            \
                  count          mean           std           min
user
AftabIqbal_      1364.0  9.919326e+17  5.477875e+16  8.930074e+17
HassanNisar      3161.0  1.090922e+18  2.522257e+15  1.086237e+18
KhSaad_Rafique   1779.0  9.554059e+17  8.530451e+16  6.165331e+17
mujibshami1      2585.0  8.255037e+17  1.169837e+17  6.561426e+17
omar_journalist  3059.0  1.033400e+18  3.395432e+16  9.843857e+17


                          25%           50%           75%           max
user
AftabIqbal_      9.455906e+17  9.845359e+17  1.036725e+18  1.101880e+18
HassanNisar      1.088754e+18  1.090928e+18  1.093094e+18  1.098899e+18
KhSaad_Rafique   9.034022e+17  9.604295e+17  1.018891e+18  1.100772e+18
mujibshami1      7.304463e+17  8.052898e+17  8.924360e+17  1.102089e+18
omar_journalist  1.002215e+18  1.027607e+18  1.063122e+18  1.101543e+18

In [568]:
main_list = []

for path in glob('dataset/TRAIN/*.xml'):
    tree = ET.parse(path)
    root = tree.getroot()
    
    for s in root.iter('s'):
        child_list = []
        for child in s.getchildren():
            if (child.text != None):
                item = (child.text, child.attrib['pos'])
            if (len(item) == 2):
                child_list.append(item)
        
        if(child_list):
            main_list.append(child_list)

print('done !!!!')

done !!!!

In [569]:
test_list = []

for path in glob('dataset/TEST/*.xml'):
    tree = ET.parse(path)
    root = tree.getroot()
    
    for s in root.iter('s'):
        child_list = []
        for child in s.getchildren():
            if (child.text != None):
                item = (child.text, child.attrib['pos'])
            if (len(item) == 2):
                child_list.append(item)
        
        if(child_list):
            test_list.append(child_list)

print('done !!!!')

done !!!!

In [574]:
sent = 'بریکنگ نیوز : بڑا فیصلہ آ گیا ، پاکستان کو عالمی عدالت سے بڑی خوشخبری مل گئی'
u_tokens = nltk.word_tokenize(sent)

nbt_urdu = ClassifierBasedPOSTagger(train=main_list, classifier_builder=NaiveBayesClassifier.train)

print(nbt_urdu.evaluate(test_list))
print(nbt_urdu.tag(u_tokens))

0.8654746011839746
[('بریکنگ', 'PN'), ('نیوز', 'PN'), (':', 'PM'), ('بڑا', 'ADJ'), ('فیصلہ', 'NN'), ('آ', 'VB'), ('گیا', 'AA'), ('،', 'PM'), ('پاکستان', 'PN'), ('کو', 'P'), ('عالمی', 'ADJ'), ('عدالت', 'NN'), ('سے', 'SE'), ('بڑی', 'ADJ'), ('خوشخبری', 'ADJ'), ('مل', 'VB'), ('گئی', 'AA')]

In [595]:
def addPOSTag(x):
    s_list = []
    tag = nbt_urdu.tag(x)
    for s in tag:
        word, tag = s
        s_list.append(tag)
        
    str_ = ' '.join(s_list)
    return str_

df['POS'] = df['text'].apply(lambda x: addPOSTag(x))

In [601]:
texts = df['POS']
labels = df['user']

In [617]:
texts

0        PN PN PN  A EXP  PN  CC NN  PM  MUL FR U AD FR...
1        PN NN PN PN PN CA EXP FR ADJ  EXP  MUL FR MUL ...
2        AP CA CA PN ADV PN PN  PN  AA TA  PN PN  EXP  ...
3        PN PN VB SM AA AP CA AD EXP  CA PN PN CA EXP C...
4        CA PN U A EXP  ADJ  AD MUL ADV  EXP  ADV  MUL ...
5        PD PN PN PN  CA U EXP  PN CC CA ADJ EXP REP G ...
6        CC EXP PN EXP PN EXP ADV EXP MUL EXP  CA EXP  ...
7        AP CA CA PN ADV PN PN  CA PN PN PN  EXP  MUL A...
8        AP CA CA PN ADV PN PN  PN  AA TA  PN PN  EXP  ...
9        CA PN U EXP  CC NN  PN AP EXP INT PN PN PN PN ...
10       AP CA CA PN ADV PN PN  PN  AA TA  PN PN  EXP  ...
11       AP CA SE EXP U CA U PN  AD EXP  AP MUL AA EXP ...
12       CC PD EXP CA U CA PN U PN PN  EXP  MUL AA CA P...
13       PD PN EXP PN CC PN PN PN  CA AD U A MUL AA EXP...
14       AP CA CA PN ADV SM CA CC EXP PN CA EXP CA CA P...
15       PP G CC CA PN CC VB PM  MUL FR I  U FR VB KER ...
16       CA PN U CA EXP  FR INT EXP  I  INT INT EXP  AD...
17       PN PN CA SE FR AD CA FR U CC PN PN PN  U U RP ...
18       PD CC PN PN PN PN PN PN  EXP  NEG  MUL AA PN  ...
19       CA CC CA CA PN PN PN  PN  NEG  AA PN SM CA CA ...
20       PD CC PN PN PN PN PN PN  EXP  MUL AA TA  KP KP...
21       CA AP CA AD EXP  NEG  AD AA NN  PM  NEG  AA PN...
22       PN ADV PN  KD EXP  I  AA PN SM PN  FR CC PN PN...
23       PN PN PN  EXP  CC EXP  PN PN  EXP  CC EXP  PN ...
24       PN CC PN PN PN  CA U CA PN ADV PN PN  MUL FR A...
25       PN PN CA A EXP  CA U CC CA ADJ EXP NN  PN AP E...
26       AP CA CA PN ADV SM PN  AA TA  CA U CA U EXP  R...
27       PN PN PN PN PN PN  CC PN PN CC AP PN PN PN PN ...
28       PN PN PN  EXP  MUL U CC NN  PM  MUL U KP AA AA...
29       PD OR PN PN  CA U A AP CA CA PN ADV PN PN  PN ...
                               ...
11918    PD PN AP EXP CA CA EXP PN CC PN CC CA ADJ EXP ...
11919    PN PN PN PN PN PN  PN PN VB SM PN  AD CA PN IN...
11920    PN PN VB SM CA PN PN CA NN  CA EXP  U EXP  U A...
11921    PD CC PN PN PN PN PN PN  EXP  MUL INT AP AA PN...
11922    CA PN PN PN PN  U AD NEG  U PN PN PN PN  PN  M...
11923    PN PN CA CC CA EXP CA FR U NEG  FR EXP  ADJ  A...
11924    AP CA CC PN ADV SM CA U ADV CA PN PN PN  MUL F...
11925    PD PN AP EXP ADJ  AA PN  CC NN  PM  CA FR PN A...
11926    PD PN PN PN PN PN  CC NN  PM  PP  AA CA PM  IN...
11927    PD PN AP EXP RP PN PN CA PN CA PN CC PN PN CA ...
11928    PD EXP PN PN PN PN PN  PN  MUL CC PN ADV SM CA...
11929    PN PN PN PN  EXP  ADJ  AA PN  CA CA U EXP  U A...
11930    PN CC PN PN EXP CA CC EXP OR PN  AD INT EXP  M...
11931    AP PN PN CC NN  PM  PN  AA TA  PN  U AA TA  AD...
11932    PP PN CA CA U CA U EXP  PN  CC NN  PM  KP A EX...
11933    AP CA CC PN ADV SM CA CA EXP REP KD I EXP  ADJ...
11934    AP CA CC PN ADV SM CA CA EXP REP KD I EXP  ADJ...
11935    AP CA CC PN ADV SM CA CA EXP REP KD I EXP  ADJ...
11936    AP CA CC PN ADV SM CA CA EXP REP KD I EXP  ADJ...
11937    AP CA CC PN ADV SM CA CA EXP REP KD I EXP  ADJ...
11938    AP CA CC PN ADV SM CA CA EXP REP KD I EXP  ADJ...
11939    AP CA CC PN ADV SM CA CA EXP REP KD I EXP  ADJ...
11940    PN PN CA CA PN CA SE EXP U PN CC NN  PN PN PN ...
11941    PN PN PN PN EXP PN  CC PN PN PN  PN  KP EXP  P...
11942    CA CA CA EXP FR CA U PN PN  MUL MUL PP  KP A U...
11943    CA CA CA EXP FR CA U PN PN  MUL MUL PP  KP A U...
11944    PD CC PN PN PN  PN  U AD PN  EXP  I  AD AA REP...
11945    PN PN PN PN  PN  INT CA U FR AD KER EXP  MUL A...
11946    AP CA CC PN ADV SM CA CC EXP ADJ PN PN PN  PN ...
11947    PD CC PN PN PN  PN  U AD PN  EXP  CA CA U AP E...
Name: POS, Length: 11948, dtype: object